html,
body {
  margin: 0;
}
.container {
  width: 75%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #fff;
}

.nav-list {
  display: flex;
  margin-right: 10px;
  flex-direction: row-reverse;
}

.nav-list img {
  padding: 10px;
}

.nav-list ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  gap: 2rem;
  margin-right: 10px;
}

.nav-list ul li {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}
.nav-list ul li:active {
  color: #f98603;
}
.login {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}
.login-btn {
  background-color: #3a4e8f;
  border: none;
  color: #fff;
  padding: 10px;
  font-family: Almarai;
  line-height: 114.99999999999999%;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 14;
  height: 14;
  opacity: 1;
  border-radius: 20px;
}
.basket i {
  background-color: #eef0fb;
  border-radius: 50%;
  padding: 10px;
  color: #3a4e8f;
}

main,
footer {
  background: linear-gradient(
    0deg,
    #0e1733 100%,
    rgba(14, 23, 51, 0.4) 40%,
    #0e1733 100%
  );
}

.hero {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}

.hero .container {
  display: flex;
}

.orange-big-text {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-style: Bold;
  font-size: 96px;
  line-height: 91.2px;
  letter-spacing: -2.4px;
  color: #f98603;
}

.intro .intro-artical {
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: 0.07px;
  color: #fff;
}

.intro .explore {
  border-radius: 48px;
  color: #000;
  border: none;
  background-color: #fff;
  padding: 15px;
  margin: 20px 0;
  font-family: Montserrat Alternates;
}

.images {
  display: flex;
}
.images img {
  margin: 0 10px 10px 10px;
}
.col1 {
  display: flex;
  flex-direction: column;
}

.col2 {
  display: flex;
  flex-direction: column;
}
.features {
  background-color: #060a16;
  padding: 5% 0;
}
.section-header h1 {
  color: #fff;
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-style: Bold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -1.68px;
}
.section-header p {
  font-family: Montserrat Alternates;
  font-style: Regular;
  line-height: 28px;
  letter-spacing: -0.45px;
  color: #fff;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  margin: 10px;
}
.card img {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.card,
.instructor-card h3 {
  color: #fff;
  font-family: Montserrat Alternates;
  letter-spacing: 0.09px;
}
.card p {
  color: #c26702;
  font-family: Montserrat Alternates;
  font-size: 14px;
  letter-spacing: -0.15px;
}
.instructors .cards {
  justify-content: space-between;
}
.instructor-card {
  margin: 10px;
}
.instructor-card p {
  color: #fff;
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.15px;
}
.instructor-card img {
  width: 100%;
  overflow: hidden;
}
.vision {
  margin-top: 150px;
}
.vision h2,
.mission h2 {
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.4px;
  text-align: center;
}

.vision h1,
.mission h1 {
  justify-items: center;
  text-align: center;
}
.mission h2 {
  margin-bottom: 0;
}
.statistics {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  text-align: center;
}
.statistics-card h1 {
  font-family: Montserrat Alternates;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.statistics-card p {
  font-family: Montserrat Alternates;
}
footer {
  justify-content: space-evenly;
  border-top: 1px solid rgba(128, 128, 128, 0.392);
  padding-top: 30px;
}
footer .container {
  display: flex;
  flex-direction: column;
}
.upper-footer {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(128, 128, 128, 0.392);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
footer p {
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: -0.31px;
  color: #ffffff80;
}
footer a {
  color: #ffffff80;
  gap: 2rem;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.menu span {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  color: #fff;
}
.menu ul {
  padding: 0;
  margin-bottom: 15px;
  text-align: left;
}
.menu ul li {
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  text-transform: capitalize;
  list-style: none;
  margin: 10px auto;
  text-align: left;
  color: #ffffff80;
}
.rights {
  text-align: center;
  margin-top: 20px;
}

.faq {
  padding: 80px 20px;
  color: #fff;
  font-family: Montserrat Alternates;
}

.faq-container {
  max-width: 900px;
  margin: auto;
}

.faq-container h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.subtitle {
  color: #9fb0d1;
  margin-bottom: 50px;
  font-size: 18px;
}

.faq-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}

summary {
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  position: relative;
}

summary::after {
  content: "▾";
  position: absolute;
  right: 0;
  transition: 0.3s;
}

.stories {
  color: #fff;
  display: flex;
}

.student-stories-header h1 {
  font-family: Montserrat Alternates;
  font-weight: 700;
  font-style: Bold;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -1.68px;
  color: #fff;
}
.student-stories-header p {
  font-family: Montserrat Alternates;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #b1b9c6;
}
.story {
  background-color: #03091B;
  border: 1px solid #212f5a;
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
}
.stars i {
  color: #f98603;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.author img {
  justify-items: center;
}
