html {
  margin: 0;
}
.container {
  width: 75%;
  margin: auto;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #fff;
}

.nav-list {
  display: flex;
  margin-right: 10px;
  flex-direction: row-reverse;
}

.nav-list ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  gap: 2rem;
  margin-right: 10px;
}

.nav-list ul li {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}
.nav-list ul li:active {
  color: #f98603;
}
.login {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}
.login-btn {
  background-color: #3a4e8f;
  border: none;
  color: #fff;
  padding: 10px;
  font-family: Almarai;
  line-height: 114.99999999999999%;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 14;
  height: 14;
  opacity: 1;
  border-radius: 20px;
}
.basket i {
  background-color: #eef0fb;
  border-radius: 50%;
  padding: 10px;
  color: #3A4E8F;
}
